{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'app/style.css' %}" />
    <link rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css"/>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"/>

    <title>{% block title %}Blog{% endblock title %}</title>
  </head>

  <body>

    <!-- navbar -->
    {% include 'includes/navbar.html' %}

    <main class="sp">
      <div class="container">
        <center>
          <div class="search-bar">
            <input type="text" placeholder="Search" />
            <div class="animated-search" onclick="searchbar()">
              <i class="uil uil-search"></i>
            </div>
          </div>
          <div class="typo">
            <h1 class="title">Website blog title</h1>
            <p>
              Lorem ipsum began as scrambled, nonsensical Latin derived from
              Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
            </p>
          </div>
          <div class="newsletter">
            <form method="POST">
              <input
                type="email"
                name="email"
                maxlength="100"
                placeholder="Enter your email"
                required=""
                id="id_email"
              />
              <button class="btn btn-primary">Subscribe</button>
            </form>
          </div>
        </center>
      </div>
    </main>

    {% block content %}

    {% endblock content %}

    <!-- footer -->
    {% include 'includes/footer.html' %}

    <script src="{% static 'app/url.js' %}" id="url"></script>

  </body>

</html>
