{% extends 'base.html' %}

{% load static %}

{% block title %}Blog | Welcome{% endblock title %}

{% block content %}

    <section class="sp">
      <div class="container">
        <div class="grid-2">
          <div class="post-img">
            <img src="{% static 'images/post.png' %}" alt="" />
          </div>
          <div class="post-content">
            <div class="cetagory">
              <p>Category name</p>
            </div>
            <h1>
              Lorem ipsum began as scrambled, nonsensical Latin derived from
              Cicero's 1st-century BC text.
            </h1>
            <p class="des">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
              ullam animi repellat non ut delectus culpa! Iste quia corporis
              illum doloribus facilis quo totam eveniet sapiente odit
              cupiditate? Cumque, nam?
            </p>
            <a class="learn" href="#"
              >Learn more <span class="material-icons"> trending_flat </span></a
            >
          </div>
        </div>
      </div>
    </section>
    <section class="sp">
      <div class="container">
        <h1 class="sec-title">Top blogs</h1>
        <div class="grid-3">
          <!-- card -->
          <a href="#">
            <div class="card">
              <div class="post-img">
                <img src="{% static 'images/post.png' %}" alt="" />
                <div class="tag">Tag name</div>
              </div>
              <div class="card-content">
                <h3>
                  A blog title and other stuffs will add here, also we can
                  include.
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="{% static 'images/author.svg' %}" alt="" />
                  </div>
                  <div class="details">
                    <p>Author name</p>
                    <small>June 20, 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
          <!-- card -->
          <a href="#">
            <div class="card">
              <div class="post-img">
                <img src="{% static 'images/post.png' %}" alt="" />
                <div class="tag">Tag name</div>
              </div>
              <div class="card-content">
                <h3>
                  A blog title and other stuffs will add here, also we can
                  include.
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="{% static 'images/author.svg' %}" alt="" />
                  </div>
                  <div class="details">
                    <p>Author name</p>
                    <small>June 20, 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
          <!-- card -->
          <a href="#">
            <div class="card">
              <div class="post-img">
                <img src="{% static 'images/post.png' %}" alt="" />
                <div class="tag">Tag name</div>
              </div>
              <div class="card-content">
                <h3>
                  A blog title and other stuffs will add here, also we can
                  include.
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="{% static 'images/author.svg' %}" alt="" />
                  </div>
                  <div class="details">
                    <p>Author name</p>
                    <small>June 20, 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
        </div>
        <center>
          <a href=""><button class="btn btn-primary rounded view">
            View more <span class="material-icons"> trending_flat </span>
          </button></a>
        </center>
      </div>
    </section>
    <section class="sp">
      <div class="container">
        <h1 class="sec-title">New blogs</h1>
        <div class="grid-3">
          <!-- card -->
          <a href="#">
            <div class="card">
              <div class="post-img">
                <img src="{% static 'images/post.png' %}" alt="" />
                <div class="tag">Tag name</div>
              </div>
              <div class="card-content">
                <h3>
                  A blog title and other stuffs will add here, also we can
                  include.
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="{% static 'images/author.svg' %}" alt="" />
                  </div>
                  <div class="details">
                    <p>Author name</p>
                    <small>June 20, 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
          <!-- card -->
          <a href="#">
            <div class="card">
              <div class="post-img">
                <img src="{% static 'images/post.png' %}" alt="" />
                <div class="tag">Tag name</div>
              </div>
              <div class="card-content">
                <h3>
                  A blog title and other stuffs will add here, also we can
                  include.
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="{% static 'images/author.svg' %}" alt="" />
                  </div>
                  <div class="details">
                    <p>Author name</p>
                    <small>June 20, 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
          <!-- card -->
          <a href="#">
            <div class="card">
              <div class="post-img">
                <img src="{% static 'images/post.png' %}" alt="" />
                <div class="tag">Tag name</div>
              </div>
              <div class="card-content">
                <h3>
                  A blog title and other stuffs will add here, also we can
                  include.
                </h3>
                <div class="author">
                  <div class="profile-pic">
                    <img src="{% static 'images/author.svg' %}" alt="" />
                  </div>
                  <div class="details">
                    <p>Author name</p>
                    <small>June 20, 2022</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- card end-->
        </div>
        <center>
          <a href=""><button class="btn btn-primary rounded view">
            View more <span class="material-icons"> trending_flat </span>
          </button></a>
        </center>
      </div>
    </section>

{% endblock content %}